@model SAM.Models.Staff

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Staff</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.StaffTitleName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.StaffTitleName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.StaffName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.StaffName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.StaffLastName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.StaffLastName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.OrganName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.OrganName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Position)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Position)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.StaffEmail)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.StaffEmail)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.StaffTel)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.StaffTel)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.PSUPassport }) |
    @Html.ActionLink("Back to List", "Index")
</p>
